.jOrgChart .line {
	height: 20px;

}

.jOrgChart .down {
  background-color 		: #0073ea;	
  width: 2px;
}

.jOrgChart .top {
  border-top          : 2px solid #0073ea;

}

.jOrgChart .left {
  border-right          : 2px solid #0073ea;
  width: 100%;	
}

.jOrgChart .right {
  border-left           : 2px solid #0073ea;
  width: 100%;
}

/* Custom chart styling */
.jOrgChart {
	margin: 10px;
	padding: 20px;
}

/* Custom node styling */
.jOrgChart .node {
	font-size: 12px;
	background-color: #ffffff;
	border: 0px;
	color: #0073ea;
	width: 48px;
	height: 64px;
}